# System and IDE files
Thumbs.db
.DS_Store
.idea
.vscode
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Build
dist/
/npm-debug.log

# Allow following paths/files
!.vscode/extensions.json
/src/assets/sock-on-bots64.tmx
/src/assets/sock-on-bots.tmx
/src/assets/CosmicLilac_Tiles_64x64.tsx
